<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
	<script src="https://unpkg.com/htmx.org@1.9.6"></script>
	<title>CodePen - Telegram Web Layout - Material Desktop (WIP)</title>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet">

</head>
<body>

<div id="test" class="rightPanel" style="width:100%;">
		<div class="topBar">
			<div class="rightSide">
				<button class="tbButton search">
					<i class="material-icons">&#xE8B6;</i>
				</button>
				<button class="tbButton otherOptions">
					<i class="material-icons">more_vert</i>
				</button>
			</div>

			<div class="leftSide">
			<p class="chatName">{{ chat_id }}</p>

			</div>
		</div>
		<style>
			.delete {
				  width: 24px;
				  height: 24px;
				  border: none;
				  background-image: url('static/image/delete.png');
				  background-size: cover;
			}
			.file {
				width: 0.1px;
  				height: 0.1px;
				opacity: 0;
			}
		</style>
		<div class="convHistory userBg">
    		{% for record in records_list %}
        		{% if not record.get("is_bot") %}
					<div class="msg messageReceived" style="white-space: pre-line;">
						{{record.get("text")}}
						<span class="timestamp">{{record.get("correct_date")}} {{record.get("correct_time")}}</span>
						<button class="delete"
								type="submit"
								value="delete"
								hx-target="#rightPanel"
								hx-get="/delete_message/{{bot_id}}/{{chat_id}}/{{record.get('message_id')}}">
						</button>
					</div>
        		{% endif %}

        		{% if record.get("is_bot") %}
					<div class="msg messageSent" style="white-space: pre-line;">
						{{record.get("text")}}
						<span class="timestamp">{{record.get("correct_date")}} {{record.get("correct_time")}}</span>
						<button class="delete"
								type="submit"
								value="delete"
								hx-target="#rightPanel"
								hx-get="/delete_message/{{bot_id}}/{{chat_id}}/{{record.get('message_id')}}">
						</button>
					</div>


        		{% endif %}
    		{% endfor %}
		</div>
		<form hx-post="/bots/{{bot_id}}/dialogues/{{chat_id}}/sendMessage/" hx-target="#rightPanel" enctype="multipart/form-data" id="myForm">

			<div class="replyBar">
				<div class="attach">
					<label for="avatar">
						<img src="static/image/paper_clip.png" width="70" height="70" alt="add file" style="margin:0;">
					</label>
					<input type="file" id="avatar" name="files" class="file" multiple/>
				</div>
				<textarea id="text" name="text" class="replyMessage" placeholder="Type your message..."></textarea>
			</div>
		</form>
		<script>
			function inverseScroll() {
			let scrollPosition = document.documentElement.scrollTop;
			window.scrollTo({
			top: scrollPosition - window.innerHeight,
			behavior: 'smooth'
			  });
			}
			window.addEventListener('scroll', inverseScroll);
		</script>
	</div>
</body>
